/* ************************************ TAG SELECTOR ****************************** */
body {
  margin: 0;
  width: 100%;
}
h1 {
  font-family: "Montserrat";
  color: white;
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
  margin-top: 30px;
  margin-bottom: 80px;
}


/* ************************************ CLASS SELECTOR ****************************** */
.card {
  margin: 20px;
}

.card-button {
  width: 98%;
}

.card-deck {
  text-align: center;
  padding-top: 50px;
}
.card-deck .row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.card-header h3 {
  font-size: 36px;
  font-weight: 600;
}
.carousel-item {
  padding: 7% 15%;
}

.contact {
  display: flex;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 20px;

}
.contact a {
  padding: 12px;
  font-size: 18px;
}
.container-fluid {
  padding: 3% 15%;
  padding-bottom: 20px;
}
.fab {
  margin-right: 8px;
}

.feature-box {
  text-align: center;
  padding: 8px 8px;
}
.feature-box h3 {
  font-size: 28px;
  font-weight: bold;
}

.feature-box p {
  color: gray;
}

.feature-icon {
  color: #ef8172;
  margin-bottom: 1rem;
}
.feature-icon:hover {
  color: #ff4c68;
}

.iphone {
  transform: rotate(25deg);
  width: 300px;
  height: auto;
  position: absolute;
  top: 10px;
  left: 100px;
}

.navbar-brand {
  font-size: 2rem;
  font-weight:400;
  font-family: ubuntu;
}

.navbar {
  padding-bottom: 50px;
}
.nav-item {
  padding: 0 20px;
}
.nav-link {
  font-size: 1.2rem;
}
.press-logo {
  width: 15%;
  margin: 20px;
}

.testimonial-image {
  border-radius: 50%;
  width: 10%;
}
.testimonial-text {
  font-family: "montserrat";
  font-weight: bold;
  color: white;
  font-size: 2.5rem;
  line-height: 1.5;
}
.section-btn {
  margin: 8px;
  margin-bottom: 50px;
}
.zero-margin-lnr {
  margin-left: 0;
  margin-right: 0;
}
/* ************************************ ID SELECTOR ****************************** */
#cta {
  text-align: center;
  color: #fff;
  font-family: "montserrat";
  background-color: #ff4c68;
  height: 540px;
  padding: 7% 15%;
}

#cta h3{
  font-size: 56px;
  font-weight: 900;
  margin-bottom: 80px;
}

#features {
  padding: 7% 15%;
  font-family: "montserrat";
  background-color: #fff;
  position: relative;
  margin-left: 0px;
  margin-right: 0px;
}

#footer {
  text-align: center;
}

#footer p{
  color: gray;
  font-family: "ubuntu";
}
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
  text-align: center;
}
#pricing {
  padding: 6% 0;
  text-align: center;
  font-family: "Montserrat";
}

#pricing h2 {
  font-size: 56px;
  font-weight: 900;
}

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

#title {
  background-color: #ff4c68;
  height: auto;
  overflow: hidden;
}







/* ***************************** MEDIA QUERY ************************ */
@viewport {
  width: device-width;
  zoom: 1.0;
}

@media screen and (max-width: 1028px){
  #title {
    text-align: center;
  }

  .iphone {
    position: static;
    transform: rotate(0);
  }
}
